.cabeçalho{
    background-color: rgb(12, 192, 6);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 15%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.projeto-imagem{
    width: 25%;

}

.sobre{
    background-image: linear-gradient(rgb(12, 192, 6), rgb(177, 235, 175));
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.divisão{
    width: 35%;
}

.sobre-projeto{
    padding: 36px 0;
}