/* Cabeçalho do site */

.cabeçalho{
    background-color: rgb(12, 192, 6);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 10%;
}

.tit{
    color:white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    display: absolute;
    left: 100px;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
}

/* Corpo do site */

.body{
    font-family: sans-serif;
}

.projeto-imagem{
    width: 35%;
    margin: 10%;
}

/* Esse sobre é a seção inteira <- pra não me perder */
.sobre{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(202, 252, 207, 1));
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-family: sans-serif;
}

.divisão{
    width: 30%;
}

.sobre-projeto{
    padding: 24px 0;
}

.sobre1{
    font-size: 20px;
    text-align: justify;
    text-indent: 30px;
}