/* Cabeçalho do site */

.cabeçalho{
    background-color: rgb(12, 192, 6);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 6%;
}

.tit{
    color:white;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    display: absolute;
    left: 100px;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

/* Corpo do site */

.body{
    font-family: 'Times New Roman', Times, serif;
}


/* Seção bio */
.projeto-imagem{
    width: 25%;
    margin: 2%;
}

#bio{
    background-image: linear-gradient(rgb(12, 192, 6), rgb(114, 230, 126));
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-family: 'Times New Roman', Times, serif;
}

.divisão{
    width: 30%;
}

.sobre-bio{
    padding: 24px 0;
}

.sobre1{
    font-size: 20px;
    text-align: justify;
    text-indent: 30px;
}

/* Seção projeto */

#projeto{
    padding: 24px;
    color:black;
}

.titulo1{
    text-align: center;
    padding: 50px 0;
}