/* Cabeçalho do site */

.cabeçalho{
    background-color: rgb(12, 192, 6);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 6%;
}

.tit{
    color:white;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    display: absolute;
    left: 100px;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

/* Corpo do site */

.body{
    font-family: 'Times New Roman', Times, serif;
}

.projeto-imagem{
    width: 25%;
}

/* Esse sobre é a seção inteira <- pra não me perder */
.section#sobre{
    background-image: linear-gradient(rgb(12, 192, 6), rgb(114, 230, 126));
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-family: 'Times New Roman', Times, serif;
}

section#sobre div{
    width: 30%;
}

.section#sobre h2{
    padding: 24px 0;
}

.section#sobre p{
    font-size: 20px;
    text-align: justify;
    text-indent: 30px;
}

.section#o-que{
    align-items: center;
}